* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-size: 20px;
    display: grid;
    place-items: center;
    height: 100vh;
    
}

#lista {
    background: linear-gradient(287.56deg, #c6d4db 0%, #7fa7e7 100%);;
    border-radius: 10px;
    padding: 48px 64px 64px;
}

#lista h1 {
    margin-bottom: 60px;
    text-align: center;
    font-style: italic;
}

.cabecalho{
    display: flex;
    
    background-color: #cbcecc79;
    border-radius: 8px;
    height: 35px;
}

.labelCheckbox{
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    height: 35px;
    border-radius: 8px 8px 8px 8px;
    gap: 2px;
    color: #495057;
}

.labelCheckbox input{
    cursor: pointer;

}

.labelCheckbox select{
    border: none;
    font-size: 15px;
    appearance: none;
    color: #495057;
}

.template{
    display: inline-grid;
    align-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 0 8px 8px 0px;
    height: 35px;
    width: 15%;
    color: #495057;
}

.template2{
    display: flex;
    align-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    height: 35px;
    width: 100%;
    gap:10px;
    color: #495057;
    font-size: 15px;
}

.template2 input{
    width: 100%;
    border: none;
    height: 26px;
    text-indent: 8px;
    
}

.selectStatus{
    border: none;
    border-radius: 8px;
    color: #495057;
    width: 32%;
    text-align: center;
    margin-left: 5px;
    height: 35px;
    font-size: 15px;
}

.selectStatus:hover{
    cursor: pointer;
}


.inputData{
    margin-left: 5px;
    border: none;
    border-radius: 8px;
    color: #495057;
    width: 30%;
    text-align: center;
    height: 35px;
    font-size: 15px;
    
}

.inputData:hover{
    cursor: pointer;
}

.btn-primary {
    margin-left: 5px;
    height: 35px;
}

.table{
    margin-top: 18px;
}


.table thead, tbody{
    text-align: center;
}

#descricao {
    text-align: left;
}

.semTarefas{
    margin-top: 30px;
    text-align: center;
    color: #495057;
    font-style:italic;
}


.fazer {
    color: red;
}
.andamento{
    color: yellow;
}

.expirou{
    color: red;
}
.finalizado {
    color:gray;
    text-decoration: line-through;
}
.editing{
    background: #00000030;
    
}

.star svg:hover{
    cursor: pointer;
    transform: scale(1.3);

}
.ativaStar svg{
    fill: yellow;
}
.desativaStar svg{
    fill: white;
}
.starIcon{
    display: none;
}

.templateInput{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    
}

.valorPadrao{
    color: #495057;
}
.valorAceito{
    color:  #089e21;
    
    
}
.valorNaoAceito{
    color: #c51d07;
}

