* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-size: 20px;
    display: grid;
    place-items: center;
    height: 100vh;
    
}

#lista {
    background: linear-gradient(287.56deg, #c6d4db 0%, #7fa7e7 100%);;
    border-radius: 10px;
    padding: 48px 64px 64px;
}

#lista h1 {
    margin-bottom: 60px;
    text-align: center;
}

.table thead{
    text-align: center;
}


.fazer {
    color: red;
}
.andamento{
    color: yellow;
}
.finalizado {
    color:gray;
    text-decoration: line-through;

}
.editing{
    background: #00000030;
    
}

.expirou{
    color: red;
}






