* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8fb0bed8;
    font-size: 20px;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

#lista {
    background: linear-gradient(287.56deg, #c6d4db 0%, #7fa7e7 100%);
    border-radius: 10px;
    padding: 48px 64px 64px;
}

#lista h1 {
    margin-bottom: 60px;
    text-align: center;
    font-style: italic;
    color: #475e64;
}

.cabecalho{
    display: flex;
    
    background-color: #cbcecc79;
    border-radius: 8px;
    height: 35px;
}

.labelCheckbox{
    position:initial;
    width: fit-content;
    margin-bottom: 30px;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
    gap: 3px;
    color: #475e64;
    font-style: italic;
    
}

.labelCheckbox input{
    cursor: pointer;
}


.form-check-input{
    width: 13px;
    height: 13px;
}

.template2{
    display: flex;
    align-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    height: 35px;
    width: 100%;
    gap:10px;
    color: #787c80;
    font-size: 15px;
}

.template2 input{
    width: 100%;
    height: 35px;
    text-indent: 8px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    
}

.selectStatus{
    border: none;
    border-radius: 8px;
    color: #495057;
    width: 48%;
    text-align: center;
    margin-left: 5px;
    height: 35px;
    font-size: 15px;
}

.selectStatus:hover{
    cursor: pointer;
}


.inputData{
    margin-left: 5px;
    border: none;
    border-radius: 8px;
    color: #787c80;
    width: 45%;
    text-align: center;
    height: 35px;
    font-size: 15px;
    
}

.inputData:hover{
    cursor: pointer;
}

.btn-primary {
    margin-left: 5px;
    height: 35px;
}

.table{
    margin-top: 18px;
    border-radius: 8px;
    background-color: #cbcecc79;
}


.table thead, tbody{
    text-align: center;
    color: #475e64;
}

#descricao {
    text-align: left;
}

.semTarefas{
    margin-top: 30px;
    text-align: center;
    color: #475e64;
    font-style:italic;
}


.fazer {
    color: red;
}
.andamento{
    color: yellow;
}

.expirou{
    color: red;
}
.finalizado {
    color:gray;
    text-decoration: line-through;
}
.editing{
    background: #7a78787e;
}

.star svg:hover{
    cursor: pointer;
    transform: scale(1.3);
}
.ativaStar svg{
    fill: yellow;
}
.desativaStar svg{
    fill: white;
}
.starIcon{
    display: none;
}

.templateInput{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%; 
}

.valorPadrao{
    color: #787c80;
}
.valorAceito{
    color:  #05941ce1; 
}
.valorNaoAceito{
    color: #c51d07e7;
}

